<resources>
    <res name="Introduction" lang="en">
        To be translated.
    </res>
    <res name="Introduction" lang="ru">
        Пожалуйста, выразите степень своего согласия (по пятибальной шкале) с утверждениями о каждом из предложенных
        методов.
    </res>

    <res name="Instruction" lang="en">Choose the best option</res>
    <res name="Instruction" lang="ru">Выберите наиболее подходящий вариант ответа</res>

    <res name="totaly disagree" lang="en">totaly disagree</res>
    <res name="totaly disagree" lang="ru">полностью не согласен(на)</res>

    <res name="totaly agree" lang="en">totaly agree</res>
    <res name="totaly agree" lang="ru">полностью согласен(на)</res>

    <res name="Suggestions and comments" lang="en">Suggestions and comments</res>
    <res name="Suggestions and comments" lang="ru">Предложения и замечания</res>

    <res name="No statements" lang="en">No statements.</res>
    <res name="No statements" lang="ru">Нет утверждений.</res>

    <res name="Not all tasks are completed" lang="en">You have to participate by completing all the tasks!</res>
    <res name="Not all tasks are completed" lang="ru">Нужно пройти тестирование, выполнив все задания!</res>

    <res name="Concern all statements" lang="en">Each statement has to be concerned.</res>
    <res name="Concern all statements" lang="ru">Необходимо оценить все утверждения.</res>

    <res name="Send" lang="en">Send</res>
    <res name="Send" lang="ru">Отправить</res>
</resources>