<resources>
    <!--
        Public menu items.
    -->
    <res name="About" lang="en">About</res>
    <res name="About" lang="ru">О проекте</res>

    <res name="Overview" lang="en">Overview</res>
    <res name="Overview" lang="ru">Описание</res>

    <res name="Participate" lang="en">Participate</res>
    <res name="Participate" lang="ru">Участвовать</res>

    <res name="Feedback" lang="en">Feedback</res>
    <res name="Feedback" lang="ru">Отзывы</res>

    <!--
        Full text search resources.
    -->
    <res name="Enter query" lang="en">Enter query</res>
    <res name="Enter query" lang="ru">Введите запрос</res>

    <res name="No documents" lang="en">No documents match the query.</res>
    <res name="No documents" lang="ru">Нет документов, соответствующих запросу.</res>

    <res name="Bad query" lang="en">Bad query. Try another one.</res>
    <res name="Bad query" lang="ru">Ошибка при выполнении запроса. Попробуйте ввести другой запрос.</res>

    <res name="Query" lang="en">Query</res>
    <res name="Query" lang="ru">Запрос</res>

    <!--
        Text tree resources.
    -->
    <res name="Expand" lang="en">expand</res>
    <res name="Expand" lang="ru">развернуть</res>

    <res name="Collapse" lang="en">collapse</res>
    <res name="Collapse" lang="ru">свернуть</res>

    <res name="Loading" lang="en">Loading...</res>
    <res name="Loading" lang="ru">Загрузка...</res>

    <res name="Failed" lang="en">Failed. Try again.</res>
    <res name="Failed" lang="ru">Ошибка. Попробуйте снова.</res>

    <!--
        TreeMap resources.
    -->
    <!-- Buttons. -->
    <res name="Go to root" lang="en">Go to root</res>
    <res name="Go to root" lang="ru">К корню</res>

    <res name="Go up" lang="en">Go up</res>
    <res name="Go up" lang="ru">Выше</res>

    <res name="No results" lang="en">No results match query</res>
    <res name="No results" lang="ru">Нет результатов, соответствующих запросу</res>

    <res name="Exact match" lang="en">Exact match</res>
    <res name="Exact match" lang="ru">Точное совпадение</res>

    <res name="Show original" lang="en">Show original article</res>
    <res name="Show original" lang="ru">Показать оригинальную статью</res>

    <!--
        Admin panel.
    -->
    <!-- Tasks stuff. -->
    <res name="Show tasks" lang="en">Show tasks</res>
    <res name="Show tasks" lang="ru">Показать задания</res>

    <res name="Create task" lang="en">Create task</res>
    <res name="Create task" lang="ru">Создать задание</res>

    <res name="Task text" lang="en">Task text</res>
    <res name="Task text" lang="ru">Текст задания</res>

    <res name="True answer" lang="en">True answer</res>
    <res name="True answer" lang="ru">Правильный ответ</res>

    <!-- Questions stuff. -->
    <res name="Show questions" lang="en">Show questions</res>
    <res name="Show questions" lang="ru">Показать вопросы</res>

    <res name="Create question" lang="en">Create question</res>
    <res name="Create question" lang="ru">Создать вопрос</res>

    <res name="Question text" lang="en">Question text</res>
    <res name="Question text" lang="ru">Текст вопроса</res>

    <!-- SUS statements stuff. -->
    <res name="Show statements" lang="en">Show statements</res>
    <res name="Show statements" lang="ru">Показать утверждения</res>

    <res name="Create statement" lang="en">Create statement</res>
    <res name="Create statement" lang="ru">Создать утверждение</res>

    <res name="Statement text" lang="en">Statement text</res>
    <res name="Statement text" lang="ru">Текст утверждения</res>

    <res name="Statement grade scale">5</res>

    <!-- Labels for grades. -->
    <res name="Bad grade" lang="en">Bad grade</res>
    <res name="Bad grade" lang="ru">Плохая отметка</res>

    <res name="Neutral grade" lang="en">Neutral grade</res>
    <res name="Neutral grade" lang="ru">Нейтральная отметка</res>

    <res name="Good grade" lang="en">Good grade</res>
    <res name="Good grade" lang="ru">Хорошая отметка</res>

    <!-- Default grades' values. -->
    <res name="Bad" lang="en">Bad</res>
    <res name="Bad" lang="ru">Плохо</res>

    <res name="Neutral" lang="en">Neutral</res>
    <res name="Neutral" lang="ru">Нормально</res>

    <res name="Good" lang="en">Good</res>
    <res name="Good" lang="ru">Хорошо</res>

    <!-- Common admin stuff. -->
    <res name="Save" lang="en">Save</res>
    <res name="Save" lang="ru">Сохранить</res>

    <res name="View" lang="en">View</res>
    <res name="View" lang="ru">Просмотреть</res>

    <res name="Edit" lang="en">Edit</res>
    <res name="Edit" lang="ru">Изменить</res>

    <res name="Delete" lang="en">Delete</res>
    <res name="Delete" lang="ru">Удалить</res>

    <res name="Create" lang="en">Create</res>
    <res name="Create" lang="ru">Создать</res>

    <res name="Deleted" lang="en">Deleted</res>
    <res name="Deleted" lang="ru">Удалено</res>

    <res name="Created" lang="en">Created</res>
    <res name="Created" lang="ru">Создано</res>

    <res name="Previous" lang="en">Previous</res>
    <res name="Previous" lang="ru">Назад</res>

    <res name="Next" lang="en">Next</res>
    <res name="Next" lang="ru">Дальше</res>

    <!--
        Miscellaneous data.
    -->
    <res name="Authors" lang="en">Peskova Olga, Dmitry Volosnykh</res>
    <res name="Authors" lang="ru">Пескова Ольга, Волосных Дмитрий</res>

    <res name="Search" lang="en">Search</res>
    <res name="Search" lang="ru">Искать</res>

    <res name="fulltext" lang="en">Full text search</res>
    <res name="fulltext" lang="ru">Полнотекстовый поиск</res>

    <res name="texttree" lang="en">Textual category tree</res>
    <res name="texttree" lang="ru">Текстовое дерево категорий</res>

    <res name="treemap" lang="en">TreeMap</res>
    <res name="treemap" lang="ru">Иерархическая карта</res>

    <!--
        Settings & properties section.
    -->
    <res name="Category">Категория</res>
    <res name="Root category">Статьи</res> <!-- NOTE: Words should be splitted by spaces, not underscores. -->
    <res name="Evaluated category">Статьи</res> <!-- NOTE: Words should be splitted by spaces, not underscores. -->
    <res name="Tree depth">2</res>
    <res name="Leafs limit">5</res>
    <res name="Tasks per method">3</res>
    <res name="Wikipedia URL">http://ru.wikipedia.org</res>
</resources>