<resources>
    <res name="Title" lang="en">Comparision is the only form of searching for the best</res>
    <res name="Title" lang="ru">Поиск лучшего ― это всегда сравнение</res>

    <res name="Intro" lang="en"></res>
    <res name="Intro" lang="ru">
        <p>
            Здесь могло быть обширное описание о важности визуализации в представлении информации, о физиологии и
            основных свойствах зрения человека, а также о психологии зрительного восприятия, но об этом уже написано
            слишком много, чтобы ещё раз повторяться. К тому же об этом есть неплохая вводная статья в самой
            <a href="http://ru.wikipedia.org/wiki/Зрение_человека">Википедии</a>. Основная суть заключается в
            следующем:
        </p>
        <blockquote cite="http://ru.wikipedia.org/wiki/%D0%97%D1%80%D0%B5%D0%BD%D0%B8%D0%B5_%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0#.D0.9F.D1.81.D0.B8.D1.85.D0.BE.D0.BB.D0.BE.D0.B3.D0.B8.D1.8F_.D0.B7.D1.80.D0.B8.D1.82.D0.B5.D0.BB.D1.8C.D0.BD.D0.BE.D0.B3.D0.BE_.D0.B2.D0.BE.D1.81.D0.BF.D1.80.D0.B8.D1.8F.D1.82.D0.B8.D1.8F">
            <p>
                Зрительный аппарат ― глаза и проводящие пути ― настолько тесно интегрирован с мозгом, что трудно
                сказать, где начинается та или иная часть процесса переработки зрительной информации.
            </p>
            <cite>Статья из Википедии о "Зрении человека"</cite>
        </blockquote>
        <p>
            Авторы этого проекта, как и немалое количество других технически подкованных, но наивных людей, стали
            жертвами "движения" визуализации, как неотъемлемой обработки сложной информации в современной науке.
            Поэтому вам предлагается метод навигации по Википедии с применением базовых техник этой научной области.
        </p>
        <p>
            А для того, чтобы можно было понять, насколько может быть полезен результат нашей работы, мы вас просим
            поучаствовать в его тестировании, чтобы сравнить результат его применения с более традиционными методами
            поиска/навигации. Для этого необходимо выполнить группу заданий в следующей постановке: вам будет задан
            вопрос и нужно постараться найти на него ответ предоставленным вам методом, а если совсем не получается,
            то всегда можно будет перейти к следующему заданию ― вот и всё!
        </p>
        <p>
            Ах, да! Мы вас немного обманули: придётся отвечать на различные вопросы субъективного характера после
            выполнения каждого задания (таких вопросов всего несколько штук) и прохождения тестирования в целом (тут,
            увы, уже побольше). Спасибо за понимание.
        </p>
        <p>
            Ниже представлен список методов поиска/навигации, которые используются для сравнения, вместе с их кратким
            описанием.
        </p>
    </res>

    <res name="Full text search description" lang="en"></res>
    <res name="Full text search description" lang="ru">
        Знакомый каждому пользовтелю Интернета метод поиска информации по таким системам как, например, Google и
        Яндекс. Для работы этого метода используется собственный полнотекстовый поиск Википедии, поэтому врядли вы
        увидите что-то новое, но всё равно перед участием в тестировании с ним можно поближе
        <a href="fulltext">познакомиться</a>.
    </res>

    <res name="Textual category tree description" lang="en"></res>
    <res name="Textual category tree description" lang="ru">
        Одним из наиболее знакомых примеров такой организации информации, наверное, может служить дерево каталогов
        файловой системы вашего компьютера. Наша реализация данного метода копирует дерево категорий, предоставляемое
        Википедией, но в него помимо самих категорий добавлены узлы для статей. Принципиально нового тоже ничего, но
        всё же можете <a href="texttree">поиграться</a>.
    </res>

    <res name="TreeMap description" lang="en"></res>
    <res name="TreeMap description" lang="ru">
        Такая карта, как и дерево категорий, служит для отображения иерархических данных, располагая на ограниченной
        прямоугольной области (карте) соответствующие категориям прямоугольники различного размера, в зависимости от
        значимости категории. Это как раз и есть тот метод, который призван улучшить навигацию по Википедии, можете
        предварительно лучше его <a href="treemap">изучить</a>. Именно для выяснения целесообразности его использования
        вам и предлагается <a href="participate">поучаствовать в тестировании</a>.
    </res>
</resources>