<resources>
    <res name="Instructions text" lang="en">
        Detailed description comes here.
    </res>
    <res name="Instructions text" lang="ru">
        <p>
            Вам будут предложены по очереди разные вопросы, которые интернет-пользователи когда-то задавали известной
            поисковой системе. Ваша задача:
            <ul>
                <li>предположить, что этот вопрос задан вам, а ответ вы не знаете, поэтому решили найти его в
                    Википедии;</li>
                <li>воспользоваться предложенным инструментом поиска/навигации для определения ответа;</li>
                <li>если вы готовы дать ответ, нажмите соответствующую кнопку и заполните появившуюся форму;</li>
                <li>если найти ответ не получается, нажмите кнопку "Сдаюсь".</li>
            </ul>
            В конце всей сессии тестирования заполните, пожалуйста, анкету, чтобы мы могли узнать побольше о вашем
            опыте поиска.
        </p>
    </res>

    <res name="Instructions" lang="en">Instructions</res>
    <res name="Instructions" lang="ru">Инструкции</res>

    <res name="Task counter format" lang="en">Task %d of %d</res>
    <res name="Task counter format" lang="ru">Задание %d из %d</res>

    <res name="Task" lang="en">Task</res>
    <res name="Task" lang="ru">Задание</res>

    <res name="Grades" lang="en">Grades</res>
    <res name="Grades" lang="ru">Оценки</res>

    <res name="Evaluate quality" lang="en">Evaluate search method's quality</res>
    <res name="Evaluate quality" lang="ru">Оцените качество поиска</res>

    <res name="Your comments" lang="en">Your comments (optional)</res>
    <res name="Your comments" lang="ru">Ваш комментарий (по желанию)</res>

    <res name="Ready to answer" lang="en">Ready to answer</res>
    <res name="Ready to answer" lang="ru">Готов(а) дать ответ</res>

    <res name="Start" lang="en">Start</res>
    <res name="Start" lang="ru">Приступить</res>

    <res name="Done" lang="en">Done</res>
    <res name="Done" lang="ru">Готово</res>

    <res name="Give up" lang="en">Give up</res>
    <res name="Give up" lang="ru">Сдаюсь</res>

    <res name="Next" lang="en">Next</res>
    <res name="Next" lang="ru">Следующее задание</res>

    <res name="No tasks" lang="en">No tasks.</res>
    <res name="No tasks" lang="ru">Нет заданий.</res>

    <res name="No questions" lang="en">No questions.</res>
    <res name="No questions" lang="ru">Нет вопросов.</res>

    <res name="Enter answer" lang="en">Enter аnswer</res>
    <res name="Enter answer" lang="ru">Введите ответ</res>

    <res name="Answer" lang="en">Answer</res>
    <res name="Answer" lang="ru">Ответ</res>

    <res name="Comment" lang="en">Comment</res>
    <res name="Comment" lang="ru">Комментарий</res>
</resources>