<resources>
    <res name="Title" lang="en">Navigation the Wikipedia should be easy!</res>
    <res name="Title" lang="ru">Навигация по Википедии должна быть простой!</res>

    <res name="Intro" lang="en">
        Detailed description comes here.
    </res>
    <res name="Intro" lang="ru">
        <p>
            При использовании популярных систем полнотекстового поиска, очень часто на первой странице их результатов
            можно получить ссылку на статью в Википедии. При переходе на эту статью, дальнейшая навигация
            осуществляется через ссылки на другие статьи и страницы категорий. Также можно воспользоваться собственным
            полнотекстовым поиском Википедии.
        </p>
        <p>
            Тем не менее, не всегда удаётся точно сформулировать предмет своего поиска. Для таких ситуаций Википедия
            предлагает использовать рубрикацию, представляющую множество статей в виде иерархического дерева категорий.
            Это дерево позволяет отображать содержимое своих категорий и переходить к страницам, описывающим, что
            входит в соответствующую категорию. Помимо этого на отдельной странице в виде точно такого же дерева можно
            просмотреть содержимое отдельной категории, но только после ввода её точного названия.
        </p>
        <p>
            Нам кажется, что такие средства навигации не очень удобны, так как по названиям верхних категорий редко
            ясно, куда двигаться дальше и уж тем более требование знать точное название категории по нашему
            субъективному мнению является слишком строгим. Мы хотим сделать ознакомление с содержимым Википедии проще
            и нагляднее. Если вас это заинтересовало, то с текущим состоянием проекта можно
            <a href="overview">ознакомиться более подробно</a>.
        </p>
    </res>
</resources>