<resources>
    <res name="Leave your feedback" lang="en">
        Please describe your experience using the method of navigation through a TreeMap.
    </res>
    <res name="Leave your feedback" lang="ru">
        Опишите, пожалуйста, ваши впечатления от использования метода навигации с помощью иерархической карты.
    </res>

    <res name="Thanks for you response" lang="en">Thanks for your response!</res>
    <res name="Thanks for you response" lang="ru">Спасибо за ваше мнение!</res>

    <res name="Send" lang="en">Send</res>
    <res name="Send" lang="ru">Отправить</res>
</resources>