/*
 * All templates.
 */

/* Nothing yet. */

/*
 * "Create" template.
 */

#create_page {
    margin-top: 1em;
}

#create_page tbody tr:not(:last-child) td:first-child {
    font-weight: bold;
}

#create_page tbody tr:not(:last-child) td:first-child:after {
    content: ':';
}

#create_page tbody tr:last-child {
    text-align: center;
}

#create_page tbody tr:last-child input {
    margin-top: 1em;
}

/*
 * "Delete" template.
 */

#delete_page {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

#delete_page tbody tr:not(:last-child) td {
    padding: 0 0.5em;
}

#delete_page tbody tr:not(:last-child) td:first-child {
    font-weight: bold;
}

#delete_page tbody tr:not(:last-child) td:first-child:after {
    content: ':';
}

#delete_page tbody tr:not(:last-child) td:nth-child(2) {
    width: 80%;
    border: 1px solid #aaaaaa;
}

#delete_page tbody tr:last-child {
    text-align: center;
}

#delete_page tbody tr:last-child input {
    margin-top: 1em;
}

/*
 * "View" template.
 */

#view_page {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

#view_page tbody td {
    padding: 0 0.5em;
}

#view_page tbody td:first-child {
    font-weight: bold;
}

#view_page tbody td:nth-child(2) {
    width: 80%;
    border: 1px solid #aaaaaa;
}

#view_page tbody td:first-child:after {
    content: ':';
}

/*
 * "Show all" template.
 */

#show_all {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

#show_all tbody td {
    padding: 0 0.5em;
}

#show_all tbody td:first-child {
    width: 50%;
}

#show_all tbody td:nth-last-child(n+4) {
    border: 1px solid #aaaaaa;
    vertical-align: top;
}

#show_all tbody td:nth-last-child(-n+3) {
    width: 1px;
}

#show_all tbody a,
#show_all tbody a:hover,
#show_all tbody a:active,
#show_all tbody a:visited,
#pager_links a,
#pager_links a:hover,
#pager_links a:active,
#pager_links a:visited {
    color: black;
}
