.ui-widget {
    font-family: "Lucida Grande", Verdana !important;
}

#primary-nav {
    border-top: dotted 2px #cccccc;
    border-bottom: dotted 2px #cccccc;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#primary-nav nav {
    display: none;
}

#lift__noticesContainer__ .ui-state-highlight,
#lift__noticesContainer__ .ui-state-error {
    padding: 0 .7em;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.ajax-loader {
    display: none;
}

#authors {
    color: #dddddd;
}

body > header {
    margin-bottom: 2em;
}

body > footer {
    margin-top: 2em;
}