#fulltext_main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

ul.simplePagerNav {    
    text-align: center;    
}

.doc {
    margin: 0.2em;
    padding: 0.3em;
    text-align: left;
}

.doc h2 {
    margin: 0;
    padding: 0.3em;
    font-size: 125%;
    font-weight: normal;
}

.doc a {
    text-decoration: none;
}

.doc a:hover {
    text-decoration: underline;
}

.searchmatch {
    font-weight: bold;
}

#no-docs, #bad-query {
    display: none;
}

#no-docs .ui-state-highlight {
    padding: 0 .7em;
}

#no-docs .ui-icon, #bad-query .ui-icon {
    float: left;
    margin-right: .3em;
}