article {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

blockquote p {
    margin-bottom: 0;
}

cite {
    display: block;
    text-align: right;
}