ul.simplePagerNav {
    padding-left: 0;
}

ul.simplePagerNav li {
    display: inline-block;
    padding: 0.3em 0.5em;
    margin: 0.5em 0;
}

ul.simplePagerNav a {
    color: #333333;
    text-decoration: none;
}

ul.simplePagerNav li:not(.currentPage):hover {
    background-color: #aaaaaa;
}

ul.simplePagerNav li:not(.currentPage):hover a {
    color: #ffffff;
}

ul.simplePagerNav .currentPage {
    background-color: #777777;
}

ul.simplePagerNav .currentPage a {
    color: #ffffff;
}

.pagination {
    list-style-type: none;
    padding-left: 0;
}

.pagination li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}