.empty-set {
    color: red;
}

/*
 * Task header.
 */

#task-header, #task-header p {
    text-align: right;
}

#task-counter {
    font-weight: bold;
}

/*
 * Instructions form.
 */

#instructions-form {
    display: none;
}

/*
 * 'Done' form.
 */

#done-form {
    display: none;
}

#done-form label, #done-form textarea {
    display: block;
}

#done-form textarea {
    padding: 0;
    width: 100%;
}

#done-form label:after {
    content: ':';
}

#done-form label[for=comment] {
    margin-top: 1em;
    font-weight: bold;
}

#done-form label[for=answer] {
    font-weight: bold;
}

#done-form table {
    width: 100%;
}

#done-form table td {
    padding: 0 0.5em;
}

#done-form table td:first-child {
    width: 100%;
}

.grades-intro {
    margin-top: 1em;
    font-weight: bold;
}

.grade {
    white-space: nowrap;
}