.empty-set {
    color: red;
}

#sus label, #sus textarea {
    display: block;
}

#sus textarea {
    padding: 0;
    width: 100%;
}

#sus label:after {
    content: ':';
}

#sus > table {
    width: 100%;
}

.method {
    width: 33%;
    padding: 0 0.5em;
}

.statement {
    font-weight: bold;
    margin-bottom: 0;
}

.instruction {
    color: gray;
    margin-top: 0;
}

.values, .buttons {
    text-align: center;
}

.grades {
    border-collapse: collapse;
}

.buttons td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.label-cell {
    color: gray;
}

#sus label[for=comment] {
    margin-top: 1em;
}

.button {
    margin-top: 1em;
    text-align: center;
}