.text {
    margin: 7px;
}

#path {
    margin: 1em 0;
}

.path-parent {
    color: #555555;
    cursor: pointer;
    text-decoration: underline;
    border-width: 1px;
    padding: 1px 0.5em;
}

.path-current {
    color: #000000;
    border-width: 1px;
    padding: 1px 0.5em;
}

.path-category {
}

.path-select {
    border-style: dotted;
}

.toolbar {
    margin: 0.5em 0;
}

.query {
    background-color: #ddddff;
    width: 400px;
    margin-left: 100px;
}

#treemap {
    height: 600px;
    width: 99%;
    margin: 0.5em 0;
}

.tip {
    width: 500px;
    padding: 7px;
    color: white;
    background-color: black;
    border: 1px solid #cccccc;
    box-shadow: #555555 2px 2px 8px;
}

.tip-header, .exact-header {
    text-align: center;
}

.tip-title, .exact-title {
    font-size: 120%;
    font-weight: bold;
}

.tip-image, .exact-image {
    float: left;
}

.exact-link {
    padding-top: 1em;
    text-align: center;
}

.exact-link a {
    text-decoration: underline;
}

.exact-link a:hover {
    cursor: pointer;
}

.exact-node {
    color: white;
}

.node {
    font-size: 0.9em;
    overflow: hidden;
    border: 1px solid #000000;
    cursor: pointer;
}

.category-node {
}

.article-node {
    text-decoration: underline;
}

.query-node {
    color: yellow;
}

.on-white {
    background-color: #ffffff;
}

.image-preview {
    text-align: center;
}

.no-results {
    display: none;
    color: red;
}